# secrets
credentials.inline.json
.env
otp_sender.env
cloudflare_tunnel.env
local_agent.env
service_accounts/
*.json.secret

# logs
*.log
log.txt

# python
__pycache__/
*.pyc
.venv/
netlify_dist/

# screenshots temp
temp_screenshots/

# system
.DS_Store

# browser profiles & drivers
.local_profile/
FB_Session/
FB_Session_Selenium/
EvidenceTool_WDM/
.vscode/
